blockquote,body,button,dd,div,dl,dt,form,h1,h2,
h3,h4,h5,h6,input,li,ol,p,pre,td,textarea,th,ul{
    margin:0;
    padding:0
}
body,html{
    font-family:Microsoft YaHei;
    font-size:.8em;
    width:100%;
    height:100%
}
.container{
    height:100%;
    left:0;
    position:fixed;
    top:0;
    width:100%;
    z-index:10
}
.container-box{
    border:1px solid #0f7fd6;
    box-shadow:10px 10px 10px #d6d6d6;
    box-sizing:border-box;
    cursor:default;
    margin:0 auto;
    position:relative;
    top:100px;
    user-select:none
}
.titlebar{
    background-color:#fff;
    font-size:1.3em;
    height:30px
}
.titlebar .title{
    left:10px;
    line-height:30px;
    position:absolute
}
.titlebar .close-btn{
    color:gray;
    line-height:30px;
    position:absolute;
    right:0;text-align:center;
    width:30px
}
.titlebar .close-btn:hover{
    background-color:red;
    color:#fff
}
.main{
    background-color:#f0f0f0;
    box-sizing:border-box;
    font-size:1.2em;
    padding:12px;
    position:relative
}
.main .btn{height:28px;width:86px}
.notepad-com-list{user-select:none;width:200px}
.notepad-com-list .editor{
    border:1px solid #0078d7;
    box-sizing:border-box;
    font-size:1em;
    height:20px;
    padding-left:2px;
    width:100%
}
.notepad-com-list .list{
    background-color:#fff;
    border:1px solid #828790;
    box-sizing:border-box;
    display:inline-block;
    height:116px;
    overflow-y:scroll;
    width:100%
}
.notepad-com-list .list .item{line-height:16px;padding-left:2px}
.notepad-com-list .list .selected{background-color:#0078d7;color:#fff}
.menubar{background-color:#fff;left:0;position:fixed;right:0;top:0;user-select:none;z-index:5}
.menubar .menu-title{margin:0;padding:0}
.menubar .title{
    border:1px solid #fff;
    box-sizing:border-box;
    cursor:default;
    display:inline-block;
    font-size:1em;
    height:20px;
    line-height:18px;
    text-align:center;
    width:54px
}
.menubar .title:hover{box-sizing:border-box;background-color:#cce8ff;border:1px solid #99d1ff}
.menubar .menus{
    background-color:#f2f2f2;
    box-shadow:5px 5px 5px #a6a6a6;
    display:inline-block;
    font-size:1em;
    margin:0;
    padding:2px;
    position:absolute;
    top:20px;
    width:202px
}
.menubar .menu-item{
    display:block;
    height:22px;
    line-height:22px;
    margin-left:2px;
    margin-right:1px;
    padding-left:34px;
    position:relative
}
.menubar .menu-item:hover{
    background-color:#99d1ff;
    height:22px
}
.menubar .shortcut{position:absolute;right:20px}
.menubar .disabled{color:#6d6d6d}
.menubar .disabled:hover{background-color:#e6e6e6}
.menubar .menu-hr{border:1px solid #d7d7d7;display:block;height:0;margin:4px;margin-left:34px}
.menubar .checked{
    position:absolute;
    width:22px;
    height:22px;
    left:0;
    line-height:22px;
    text-align:center;
    background-color:#90c8f6
}
.box1{bottom:0;left:0;position:fixed;right:0;top:20px}
.box1 textarea{
    border-top:1px solid #d2d2d2;
    box-sizing:border-box;
    height:100%;
    outline:0;
    overflow:scroll;
    padding:0 1px;
    resize:none;
    width:100%
}
.box2{
    background:#f0f0f0;
    border-top:1px solid #d7d7d7;
    bottom:0;
    box-sizing:border-box;
    height:22px;
    left:0;
    position:fixed;
    right:0
}
.box2 .right-panel{
    border-left:1px solid #d7d7d7;
    bottom:1px;
    height:19px;
    min-width:170px;
    overflow:hidden;
    position:absolute;
    right:0;width:25%
}
.box2 .right-panel .row-col{
    cursor:default;font-size:1em;line-height:19px;margin:0 auto;text-align:center;user-select:none
}
.about{z-index:10}
.about .dialogbox{height:400px;width:536px}
.about .main{height:368px}
.about .main .slogan{color:#0077c8;font-size:4em;line-height:100px;text-align:center}
.about .main .app-logo{margin:30px 10px}
.about .main .info{display:inline-block;font-size:1.2em;height:100px;line-height:25px;margin-left:5px}
.about .main .btn-ok{bottom:16px;position:absolute;right:12px}
.font{z-index:10}
.font .dialogbox{height:498px;width:438px}
.font .main{height:466px}
.font .main .font-family,.font .main .font-style{
    display:inline-block;margin-right:16px
}
.font .main .sample{border-color:#fff;height:78px;margin-top:28px;width:194px}
.font .main .script{margin-top:12px}
.font .main select{height:22px;width:214px}
.font .main .font-size{display:inline-block}
.font .main .btn-ok{bottom:10px;position:absolute;right:110px}
.font .main .btn-cancel{bottom:10px;position:absolute;right:16px}
.two{z-index:10}
.two .dialogbox{height:160px;width:294px}
.two .main{height:127px}
.two .main .txt-line-num{box-sizing:border-box;height:30px;margin:10px 0;width:266px}
.two .main .btn-cancel,.two .main .btn-goto{bottom:16px;position:absolute}
.two .main .btn-goto{right:108px}
.two .main .btn-cancel{right:14px}
.two .err-msg{
    background-color:#fff;
    border:1px solid red;
    border-radius:10px;
    color:red;
    height:40px;
    line-height:40px;
    position:relative;
    text-align:center;
    width:170px
}
.two .err-msg:after{
    border-color:red transparent;
    border-style:solid;
    border-width:0 15px 20px 0;
    content:"";
    display:block;
    height:0;
    left:20px;
    position:absolute;
    top:-20px;
    width:0
}
.change{z-index:10}
.change .dialogbox{height:232px;width:404px}
.change .main{height:200px;padding:6px}
.change .main .txt-search{box-sizing:border-box;height:26px;margin:10px;width:198px}
.change .main .txt-replace{box-sizing:border-box;height:26px;margin-left:25px;width:198px}
.change .main .btn-search{bottom:156px;position:absolute;right:12px}
.change .main .btn-replace{bottom:118px;position:absolute;right:12px}
.change .main .btn-replace-all{bottom:82px;position:absolute;right:12px}
.change .main .btn-cancel{bottom:46px;position:absolute;right:12px}
.change .main input[value=capital-sense]{margin-top:30px}
.search{z-index:10}
.search .dialogbox{height:164px;width:414px}
.search .main{height:132px;padding:6px}
.search .main .txt-content{box-sizing:border-box;height:26px;margin:10px;width:224px}
.search .main .btn-search{position:absolute;right:8px;top:12px}
.search .main .btn-cancel{bottom:56px;position:absolute;right:8px}
.search .main .search-direction{
    border:1px solid #dcdcdc;
    box-sizing:border-box;
    height:52px;
    left:172px;
    padding:10px 5px;
    position:absolute;
    top:64px;
    width:136px
}
.search .main input[value=down]{margin-left:5px}
.search .main input[value=capital-sense]{margin-top:30px}